MONGO_URI=mongodb+srv://sunitakeshari24_db_user:ljp4mIUukwNZWDIp@campusxchange.gw9bpsn.mongodb.net/?appName=campusXchange
PORT=8080 
JWT_SECRET=77dbe97662cae6e8035e982c42d1a535234284c6176bffbfc31ab82a8aaca579 

CLOUDINARY_CLOUD_NAME=dkybreoaz
CLOUDINARY_API_KEY=173821295558276
CLOUDINARY_API_SECRET=UY7LwEaLu9EOTRVg9t5dVvCxXqg

RAZORPAY_KEY_ID=rzp_test_Rz02yBGrSwatCZ
RAZORPAY_KEY_SECRET=uYYF7aSajb94ufg1KxseUYdt